@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>David's Used Cars</h1>
    <p class="lead">This is David's Used Cars - A web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>
            Just A website I thought up in an off moment
        </p>
        <p>


        </p>
    </div>
</div>